$border: 1px solid #eaeaea;
$border-radius: 6px;
$border-left: $border-radius 0 0 $border-radius;
$border-right: 0 $border-radius $border-radius 0;
$border-top: $border-radius $border-radius 0 0;
$border-bottom: 0 0 $border-radius $border-radius;

.btn-group {
  display: flex;
  width: fit-content;
  &.btn-group-rounded-v {
    flex-direction: column;
    .btn {
      border-radius: 0;
    }
    .btn:first-child {
      border-radius: $border-top;
    }
    .btn:last-child {
      border-radius: $border-bottom;
      border-bottom: $border;
    }
    &.btn-group-outline {
      .btn:nth-child(odd) {
        border-left: $border;
        border-right: $border;
        border-top: none;
        border-bottom: none;
      }
      .btn:first-child {
        border-left: $border;
        border-top: $border;
      }
      .btn:last-child {
        border-bottom: $border;
      }
    }
  }
  &.btn-group-outline {
    .btn:nth-child(odd) {
      border-left: none;
      border-right: none;
    }
    .btn:first-child {
      border-left: $border;
    }
  }
  &.btn-group-rounded {
    .btn {
      border-radius: 0;
    }
    .btn:first-child {
      border-radius: $border-left;
    }
    .btn:last-child {
      border-radius: $border-right;
    }
  }
  &.btn-group-primary {
    .btn:nth-child(odd) {
      border-left: $border;
      border-right: $border;
    }
    .btn:first-child {
      border-left: none;
    }
    .btn:last-child {
      border-right: none;
    }
  }
}