.btn-group {
  display: flex;
  width: fit-content;
  margin: 20px;
  &.btn-group-outline {
    .btn:nth-child(odd) {
      border-left: none;
      border-right: none;
    }
    .btn:first-child {
      border-left: 1px solid #eaeaea;
    }
  }
  &.btn-group-rounded {
    .btn {
      border-radius: 0;
    }
    .btn:first-child {
      border-radius: 6px 0 0 6px;
    }
    .btn:last-child {
      border-radius: 0 6px 6px 0;
    }
  }
  &.btn-group-primary {
    .btn:nth-child(odd) {
      border-left: 1px solid #00717a;
      border-right: 1px solid #00717a;
    }
    .btn:first-child {
      border-left: none;
    }
    .btn:last-child {
      border-right: none;
    }
  }
}